flows (9).json
[
    {
        "id": "fdc57d349c3334f9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e9a05615c9cb6ad5",
        "type": "group",
        "z": "fdc57d349c3334f9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9c917dbfbcb44f08",
            "83279533e356d2a1",
            "30627b9af0f5f0db",
            "1710795fe83ba254",
            "94e0cd5ab8868e03",
            "b927f59003d36d23",
            "7f2566f73039eb78",
            "c1916f97136487b9",
            "f6b9bda5a95d81f1"
        ],
        "x": 48,
        "y": 59,
        "w": 1158,
        "h": 348
    },
    {
        "id": "977c7f04dca37899",
        "type": "group",
        "z": "fdc57d349c3334f9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e21d1f24fb018ce9",
            "fce65e8987a52a89",
            "48f405d53f704bfe",
            "64e8e9fd900553ef",
            "a7103948d98fe761",
            "4e31fdbf73838ec7",
            "f12c994f65bb77c8",
            "d2f2945e7e1da16f",
            "12b060b8fabc1db1"
        ],
        "x": 48,
        "y": 439,
        "w": 1138,
        "h": 348
    },
    {
        "id": "d59be6fcf2c95e64",
        "type": "group",
        "z": "fdc57d349c3334f9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "71334638f42386c1",
            "e6c3f185d64446ec",
            "3b67bd9469bfbe39",
            "8933902ed68b01db"
        ],
        "x": 54,
        "y": 799,
        "w": 872,
        "h": 82
    },
    {
        "id": "f6b9bda5a95d81f1",
        "type": "group",
        "z": "fdc57d349c3334f9",
        "g": "e9a05615c9cb6ad5",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c17d0fec887863da",
            "e2af47711434e621",
            "4d53a18fd8e91bd7",
            "7242c9e02c4112bd",
            "d98b483bfddc6ad6",
            "7593968c90b441aa"
        ],
        "x": 74,
        "y": 239,
        "w": 932,
        "h": 142
    },
    {
        "id": "12b060b8fabc1db1",
        "type": "group",
        "z": "fdc57d349c3334f9",
        "g": "977c7f04dca37899",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "09852f21614f7f9f",
            "8079175c8637bfd5",
            "604938120559d1a5",
            "009e976f5d532d28",
            "b8b337dbdb20942a",
            "915181ceda143602"
        ],
        "x": 74,
        "y": 619,
        "w": 932,
        "h": 142
    },
    {
        "id": "9c917dbfbcb44f08",
        "type": "mqtt in",
        "z": "fdc57d349c3334f9",
        "g": "e9a05615c9cb6ad5",
        "name": "Temperature_Level",
        "topic": "Temperature_Level",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "93f9d96fbe6864ad",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "30627b9af0f5f0db"
            ]
        ]
    },
    {
        "id": "e21d1f24fb018ce9",
        "type": "mqtt in",
        "z": "fdc57d349c3334f9",
        "g": "977c7f04dca37899",
        "name": "Humidity_Level",
        "topic": "Humidity_Level",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "93f9d96fbe6864ad",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 560,
        "wires": [
            [
                "48f405d53f704bfe"
            ]
        ]
    },
    {
        "id": "71334638f42386c1",
        "type": "mqtt in",
        "z": "fdc57d349c3334f9",
        "g": "d59be6fcf2c95e64",
        "name": "Light_Control",
        "topic": "Light_Control",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "93f9d96fbe6864ad",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 840,
        "wires": [
            [
                "3b67bd9469bfbe39"
            ]
        ]
    },
    {
        "id": "83279533e356d2a1",
        "type": "function",
        "z": "fdc57d349c3334f9",
        "d": true,
        "g": "e9a05615c9cb6ad5",
        "name": "Generate Random TEMP",
        "func": "// msg.payload = String((Math.random() * 23 + 16).toFixed(2));\nmsg.payload = String((Math.random() * 3 + 27).toFixed(2));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "7242c9e02c4112bd",
        "type": "inject",
        "z": "fdc57d349c3334f9",
        "g": "f6b9bda5a95d81f1",
        "name": "Starting trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 340,
        "wires": [
            [
                "4d53a18fd8e91bd7"
            ]
        ]
    },
    {
        "id": "fce65e8987a52a89",
        "type": "function",
        "z": "fdc57d349c3334f9",
        "g": "977c7f04dca37899",
        "name": "Generate Random HUMI",
        "func": "msg.payload = String((Math.random() * 3 + 75).toFixed(2));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "e6c3f185d64446ec",
        "type": "mqtt out",
        "z": "fdc57d349c3334f9",
        "g": "d59be6fcf2c95e64",
        "name": "Light_Control_PC",
        "topic": "Light_Control_PC",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93f9d96fbe6864ad",
        "x": 810,
        "y": 840,
        "wires": []
    },
    {
        "id": "30627b9af0f5f0db",
        "type": "function",
        "z": "fdc57d349c3334f9",
        "g": "e9a05615c9cb6ad5",
        "name": "Change String to Float",
        "func": "msg.payload = parseFloat(msg.payload);\nmsg.temperature = String(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 180,
        "wires": [
            [
                "b927f59003d36d23",
                "c1916f97136487b9",
                "1710795fe83ba254"
            ]
        ]
    },
    {
        "id": "48f405d53f704bfe",
        "type": "function",
        "z": "fdc57d349c3334f9",
        "g": "977c7f04dca37899",
        "name": "Change String to Float",
        "func": "msg.payload = parseFloat(msg.payload);\nmsg.humidity = String(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 560,
        "wires": [
            [
                "a7103948d98fe761",
                "64e8e9fd900553ef",
                "f12c994f65bb77c8"
            ]
        ]
    },
    {
        "id": "c17d0fec887863da",
        "type": "mysql",
        "z": "fdc57d349c3334f9",
        "g": "f6b9bda5a95d81f1",
        "mydb": "e89e9daf07f4e5b2",
        "name": "home_automation_db",
        "x": 760,
        "y": 340,
        "wires": [
            [
                "d98b483bfddc6ad6"
            ]
        ]
    },
    {
        "id": "94e0cd5ab8868e03",
        "type": "mysql",
        "z": "fdc57d349c3334f9",
        "g": "e9a05615c9cb6ad5",
        "mydb": "e89e9daf07f4e5b2",
        "name": "home_automation_db",
        "x": 1080,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b927f59003d36d23",
        "type": "function",
        "z": "fdc57d349c3334f9",
        "g": "e9a05615c9cb6ad5",
        "name": "Generate date time",
        "func": "var currentdate = new Date(); \nmsg.datetime = String(currentdate.getFullYear() + \"-\"+ (currentdate.getMonth()+1)  + \"-\" + currentdate.getDate() + \" \" + currentdate.getHours() + \":\" + currentdate.getMinutes() + \":\" + currentdate.getSeconds());\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 100,
        "wires": [
            [
                "7f2566f73039eb78"
            ]
        ]
    },
    {
        "id": "7f2566f73039eb78",
        "type": "template",
        "z": "fdc57d349c3334f9",
        "g": "e9a05615c9cb6ad5",
        "name": "INSERT query",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO home_automation_db.temperature_tb (DateTime, Temperature) VALUES ('{{datetime}}', '{{temperature}}');",
        "output": "str",
        "x": 880,
        "y": 100,
        "wires": [
            [
                "94e0cd5ab8868e03"
            ]
        ]
    },
    {
        "id": "e2af47711434e621",
        "type": "template",
        "z": "fdc57d349c3334f9",
        "g": "f6b9bda5a95d81f1",
        "name": "SELECT query",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT DateTime, Temperature FROM home_automation_db.temperature_tb order by No DESC LIMIT 10;",
        "output": "str",
        "x": 560,
        "y": 340,
        "wires": [
            [
                "c17d0fec887863da"
            ]
        ]
    },
    {
        "id": "4d53a18fd8e91bd7",
        "type": "trigger",
        "z": "fdc57d349c3334f9",
        "g": "f6b9bda5a95d81f1",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "1",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 380,
        "y": 340,
        "wires": [
            [
                "e2af47711434e621"
            ]
        ]
    },
    {
        "id": "c1916f97136487b9",
        "type": "ui-gauge",
        "z": "fdc57d349c3334f9",
        "g": "e9a05615c9cb6ad5",
        "name": "",
        "group": "0bef4c7381482191",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "",
        "units": "",
        "icon": "",
        "prefix": "",
        "suffix": "°C",
        "segments": [
            {
                "from": "16",
                "color": "#5cd65c"
            },
            {
                "from": "33",
                "color": "#ffc800"
            },
            {
                "from": "35",
                "color": "#ea5353"
            }
        ],
        "min": "16",
        "max": "40",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "1710795fe83ba254",
        "type": "ui-chart",
        "z": "fdc57d349c3334f9",
        "g": "e9a05615c9cb6ad5",
        "group": "0bef4c7381482191",
        "name": "",
        "label": "chart",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "yAxisLabel": "",
        "yAxisProperty": "",
        "ymin": "",
        "ymax": "",
        "action": "append",
        "stackSeries": false,
        "pointShape": "cross",
        "pointRadius": "2",
        "showLegend": false,
        "removeOlder": "10",
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "6",
        "className": "",
        "x": 650,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "a7103948d98fe761",
        "type": "ui-gauge",
        "z": "fdc57d349c3334f9",
        "g": "977c7f04dca37899",
        "name": "",
        "group": "37326668159c0d0c",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "",
        "units": "",
        "icon": "",
        "prefix": "",
        "suffix": "%",
        "segments": [
            {
                "from": "40",
                "color": "#ea5353"
            },
            {
                "from": "50",
                "color": "#ffc800"
            },
            {
                "from": "68",
                "color": "#5cd65c"
            }
        ],
        "min": "40",
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 650,
        "y": 520,
        "wires": []
    },
    {
        "id": "64e8e9fd900553ef",
        "type": "ui-chart",
        "z": "fdc57d349c3334f9",
        "g": "977c7f04dca37899",
        "group": "37326668159c0d0c",
        "name": "",
        "label": "chart",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "yAxisLabel": "",
        "yAxisProperty": "",
        "ymin": "",
        "ymax": "",
        "action": "append",
        "stackSeries": false,
        "pointShape": "cross",
        "pointRadius": "2",
        "showLegend": false,
        "removeOlder": "10",
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "6",
        "className": "",
        "x": 630,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "d98b483bfddc6ad6",
        "type": "ui-table",
        "z": "fdc57d349c3334f9",
        "g": "f6b9bda5a95d81f1",
        "group": "0bef4c7381482191",
        "name": "",
        "label": "text",
        "order": 2,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "x": 930,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "8933902ed68b01db",
        "type": "ui-button-group",
        "z": "fdc57d349c3334f9",
        "g": "d59be6fcf2c95e64",
        "name": "",
        "group": "b3f6f9e747848202",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "button group",
        "rounded": true,
        "useThemeColors": true,
        "passthru": false,
        "options": [
            {
                "label": "ON",
                "icon": "",
                "value": "ON",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "OFF",
                "icon": "",
                "value": "OFF",
                "valueType": "str",
                "color": "#999999"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 840,
        "wires": [
            [
                "e6c3f185d64446ec"
            ]
        ]
    },
    {
        "id": "3b67bd9469bfbe39",
        "type": "function",
        "z": "fdc57d349c3334f9",
        "g": "d59be6fcf2c95e64",
        "name": "Change number to boolean",
        "func": "if(msg.payload == '0'){\n    msg.payload = \"OFF\";\n}else if(msg.payload == '1'){\n    msg.payload = \"ON\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 840,
        "wires": [
            [
                "8933902ed68b01db"
            ]
        ]
    },
    {
        "id": "7593968c90b441aa",
        "type": "comment",
        "z": "fdc57d349c3334f9",
        "g": "f6b9bda5a95d81f1",
        "name": "",
        "info": "Obtained the 10 lastest values from \ndatabase",
        "x": 160,
        "y": 280,
        "wires": []
    },
    {
        "id": "4e31fdbf73838ec7",
        "type": "mysql",
        "z": "fdc57d349c3334f9",
        "g": "977c7f04dca37899",
        "mydb": "e89e9daf07f4e5b2",
        "name": "home_automation_db",
        "x": 1060,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "f12c994f65bb77c8",
        "type": "function",
        "z": "fdc57d349c3334f9",
        "g": "977c7f04dca37899",
        "name": "Generate date time",
        "func": "var currentdate = new Date(); \nmsg.datetime = String(currentdate.getFullYear() + \"-\"+ (currentdate.getMonth()+1)  + \"-\" + currentdate.getDate() + \" \" + currentdate.getHours() + \":\" + currentdate.getMinutes() + \":\" + currentdate.getSeconds());\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 480,
        "wires": [
            [
                "d2f2945e7e1da16f"
            ]
        ]
    },
    {
        "id": "d2f2945e7e1da16f",
        "type": "template",
        "z": "fdc57d349c3334f9",
        "g": "977c7f04dca37899",
        "name": "INSERT query",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO home_automation_db.humidity_tb (DateTime, Humidity) VALUES ('{{datetime}}', '{{humidity}}');",
        "output": "str",
        "x": 860,
        "y": 480,
        "wires": [
            [
                "4e31fdbf73838ec7"
            ]
        ]
    },
    {
        "id": "09852f21614f7f9f",
        "type": "mysql",
        "z": "fdc57d349c3334f9",
        "g": "12b060b8fabc1db1",
        "mydb": "e89e9daf07f4e5b2",
        "name": "home_automation_db",
        "x": 760,
        "y": 720,
        "wires": [
            [
                "b8b337dbdb20942a"
            ]
        ]
    },
    {
        "id": "8079175c8637bfd5",
        "type": "template",
        "z": "fdc57d349c3334f9",
        "g": "12b060b8fabc1db1",
        "name": "SELECT query",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT DateTime, Humidity FROM home_automation_db.humidity_tb order by No DESC LIMIT 10;",
        "output": "str",
        "x": 560,
        "y": 720,
        "wires": [
            [
                "09852f21614f7f9f"
            ]
        ]
    },
    {
        "id": "604938120559d1a5",
        "type": "trigger",
        "z": "fdc57d349c3334f9",
        "g": "12b060b8fabc1db1",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "1",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 380,
        "y": 720,
        "wires": [
            [
                "8079175c8637bfd5"
            ]
        ]
    },
    {
        "id": "009e976f5d532d28",
        "type": "inject",
        "z": "fdc57d349c3334f9",
        "g": "12b060b8fabc1db1",
        "name": "Starting trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 720,
        "wires": [
            [
                "604938120559d1a5"
            ]
        ]
    },
    {
        "id": "b8b337dbdb20942a",
        "type": "ui-table",
        "z": "fdc57d349c3334f9",
        "g": "12b060b8fabc1db1",
        "group": "37326668159c0d0c",
        "name": "",
        "label": "text",
        "order": 2,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "x": 930,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "915181ceda143602",
        "type": "comment",
        "z": "fdc57d349c3334f9",
        "g": "12b060b8fabc1db1",
        "name": "",
        "info": "Obtained the 10 lastest values from \ndatabase",
        "x": 160,
        "y": 660,
        "wires": []
    },
    {
        "id": "93f9d96fbe6864ad",
        "type": "mqtt-broker",
        "name": "192.168.86.36",
        "broker": "192.168.86.36",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e89e9daf07f4e5b2",
        "type": "MySQLdatabase",
        "name": "localhost",
        "host": "localhost",
        "port": "3306",
        "db": "home_automation_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "0bef4c7381482191",
        "type": "ui-group",
        "name": "TEMPERATURE",
        "page": "e577a841efe93829",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "37326668159c0d0c",
        "type": "ui-group",
        "name": "HUMIDITY",
        "page": "e577a841efe93829",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b3f6f9e747848202",
        "type": "ui-group",
        "name": "LED Control",
        "page": "e577a841efe93829",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e577a841efe93829",
        "type": "ui-page",
        "name": "Home Automation Dashboard",
        "ui": "4e86fe31886a427a",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "3818d56484280573",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "false",
        "disabled": "false"
    },
    {
        "id": "4e86fe31886a427a",
        "type": "ui-base",
        "name": "UI Name",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "3818d56484280573",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]